.ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  background-color: #5570f1 !important;
  color: white !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-item,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-item {
  margin-top: 20px;
}

.ant-layout-sider-trigger {
    background: #5570f1 !important;
    border-radius: 0px 10px 10px 0px;
}
